* {
margin:0;
padding:0;

}


.search-bar {
margin:20px;
text-align:center;
}

.search-bar input {
	width:75%;
	color:gray;
}

.search-bar input:focus, textarea:focus{
box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
  color:black;
}

.video-item img{
	max-width:100px;
}

.video-detail .details {
	margin-top:10px;
	padding:10px;
	border: 1px solid #ddd;
	border-radius:4px;
}

.list-group-item {
	cursor:pointer;
}

.list-group-item:hover{
	background-color:orange;
}

iframe {
border: 5px solid rgba(81,203,238,1);

}

